<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../base.css">
    <title>About</title>
</head>
<body>
    <header class="about-header">
        <a href="../index.html"><h1>RealEstate</h1></a>
        <nav>
            <a href="../view/about.html">About</a>
            <a href="../view/blog.html">Blog</a>
            <a href="../view/contact.html">Contact</a>
        </nav>
    </header>
    <main class="container-about">
        <div class="conten-history">
            <h4>1950</h4>
            <div class="item-history">
                <img src="../file/img/announcement6.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cupiditate labore sequi corrupti deleniti, nostrum at magnam possimus molestias, impedit aperiam inventore omnis esse facere hic vitae voluptatibus ducimus sunt!</p>
            </div>
            
        </div>
        <div class="conten-history">
            <h4>1940</h4>
            <div class="item-history">
                <img src="../file/img/announcement5.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cupiditate labore sequi corrupti deleniti, nostrum at magnam possimus molestias, impedit aperiam inventore omnis esse facere hic vitae voluptatibus ducimus sunt!</p>
            </div>
            
        </div>
        <div class="conten-history">
            <h4>1920</h4>
            <div class="item-history">
                <img src="../file/img/announcement4.jpg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius cupiditate labore sequi corrupti deleniti, nostrum at magnam possimus molestias, impedit aperiam inventore omnis esse facere hic vitae voluptatibus ducimus sunt!</p>
            </div>
            
        </div>
    </main>
</body>
</html>