<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../base.css">
    <title>Blog</title>
</head>
<body>
    <header class="blog-header">
        <a href="../index.html"><h1>RealEstate</h1></a>
        <nav>
            <a href="../view/about.html">About</a>
            <a href="../view/blog.html">Blog</a>
            <a href="../view/contact.html">Contact</a>
        </nav>
    </header>
    <main class="blog-body">
        <div class="container">
            <div class="container-blog">
                <div class="location-label">
                    <label>08/25/2024</label>
                    <label>tijuana, B.C.</label>
    
                </div>
                <img src="../file/img/announcement6.jpg">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate reiciendis minus saepe itaque voluptates perferendis voluptatibus cupiditate facilis, commodi odit, vitae quibusdam vel fugiat fuga neque nobis quisquam vero. Possimus!
                </p>
                <div class="comment-content">
                    <img src="../file/img/cilueta.jpg" alt="Profile">
                    <lab</lab>
                    <textarea type="text"></textarea>
                </div>
            </div>
            <div class="container-blog">
                <div class="location-label">
                    <label>08/15/2024</label>
                    <label>tijuana, B.C.</label>
    
                </div>
                <img src="../file/img/announcement4.jpg">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate reiciendis minus saepe itaque voluptates perferendis voluptatibus cupiditate facilis, commodi odit, vitae quibusdam vel fugiat fuga neque nobis quisquam vero. Possimus!
                </p>
                <div class="comment-content">
                    <img src="../file/img/cilueta.jpg" alt="Profile">
                    <lab</lab>
                    <textarea type="text"></textarea>
                </div>
            </div>
        </div>
        
        <!-- <div>
            <h6>Category</h6>
            <ul>
                <li>Suites</li>
                <li>Houese</li>
                <li>Penhouse</li>
                <li>Cabin</li>
            </ul>
        </div> -->
    </main>
</body>
</html>