<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../base.css">
    <script src="https://kit.fontawesome.com/337be747ec.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<header class="contact-header">
    <h1>RealEstate</h1>
    <nav class="menu-bar">
        <a href="about.html">Abut</a>
        <a href="blog.html">Blog</a>
        <a href="contact.hyml">Contact</a>
    </nav>
</header>

<body>
    <main class="container">
        <h2>Contact us</h2>
        <div class="container">
            <p class="contac-sub">Fill the next information</p>
            <p class="contact-details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem totam, voluptates in
                aperiam porro eaque odit,
                soluta magnam commodi cumque eligendi placeat provident blanditiis dolore vel aspernatur! Consequatur,
                sequi
                nam?<i class="fa-solid fa-circle-info"></i>
            </p>
        </div>


        <div class="form-container">
            <fieldset>
                <legend>
                    Personal Information
                </legend>
                <div class="form-control">
                    <label>Name:</label>
                    <input type="text">
                </div>
                <div class="form-control">
                    <label>Email:</label>
                    <input type="email">
                </div>
                <div class="form-control">
                    <label>Phone:</label>
                    <input type="tel">
                </div>
                <div class="form-control">
                    <label>Message</label>
                    <textarea></textarea>
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    Product Information
                </legend>
                <div class="form-control">
                    <label>Type</label>
                    <select>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                        <option>Option 5</option>
                    </select>
                </div>
                <div class="form-control">
                    <label>Number:</label>
                    <input type="number">
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    Contact Information
                </legend>
                <div class="form-control contact-option">
                    <label>Email:</label>
                    <input type="radio">
                    <label>Phone:</label>
                    <input type="radio">
                </div>
                <div class="form-control contact-option">
                    <label>Date:</label>
                    <input type="date">
                    <label>Hour:</label>
                    <input type="time">

                </div>
            </fieldset>
        </div>
    </main>
    <footer class="footer-contact">
        <div>
            <p class="text-b">Powered by Zillow</p>
        </div>
        <div class="copy-text">
            <p>Copyright &copy: 2024</p>
            <p class="text-privacy">Privacy Policy</p>
        </div>
        <div class="icons">
            <div class="icon-container">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icon-container">
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="icon-container">
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
    </footer>
</body>

</html>